<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>514DD5D6-7C79-481B-8CB1-A08FA9F5D3DF</string>
	<key>title</key>
	<string>Tropical</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
