<Project>
  <PropertyGroup>
    <TargetFramework>net451</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <Configuration>Release</Configuration>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
  <Target Name="CopyMerged" AfterTargets="Publish">
    <Copy SourceFiles="$(OutputPath)$(AssemblyName).exe" DestinationFolder="$(PublishDir)" />
  </Target>
</Project>
